<form method="post" action="/api/post/create">
    标题：<br />
    <input type="text" name="title" required/><br />
    正文：<br />
    <textarea name="content" rows="20" cols="100" required></textarea><br />
    <input type="submit" value="发表" />
</form>
